button{
    background-color:var(--theme-color-1);
    border-radius: 5px;
}
input{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
    color: gray;
    /* opacity:1; */
}
input:focus{
    border:0.5px solid green
}